

<style type="text/css">
  .aboutus{
    margin-top: 0!important;
  }
  
  
  .aboutus h2{
    font-size: 31px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 46px;
    margin-top: 53px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #757575;
  }

    .aboutus .bannerHolder{
        background-color: white;
        width: 100%;
    }
    .aboutus .bannerHolder > img{
        width: 90%;
        max-width: 500px;
        height: auto;
        margin: 0 40px;
    }
    .aboutus .bannerHolder .bannerRibbon{
        background-image: linear-gradient(45deg, #396BC2, #688ECC, #00477D);
        padding: 9px 0 3px;
        min-height: 100px;
        width: 100%;
    }
    .aboutus .bannerHolder .bannerRibbon div{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .aboutus .bannerHolder .bannerRibbon div img{
        height: 50px;
        width: 50px;
    }
    .aboutus .bannerHolder .bannerRibbon h3{
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        margin: 0 20px 0 10px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        color: white;
    }

    .aboutus .textHolder{
        max-width: 800px;
        width: 100%;
    }
    .aboutus .textHolder h4{
       font-size: 18px;
       line-height: 20px;
       font-weight: bold;
       margin-bottom: 12px;
       margin-top: 0px;
       letter-spacing: 1.6px;
       text-transform: uppercase;
       color: #757575;
    }
    .aboutus .textHolder p{
       font-size: 13px;
       line-height: 18px;
       color: #757575;
    }

    .aboutus .col{
        padding: 40px 20px;
    }
  .aboutus .col1{
     width: 100%;
  }
    .aboutus .col1 h3{
       font-size: 22px;
       line-height: 24px;
       font-weight: bold;
       margin-bottom: 12px;
       margin-top: 0px;
       letter-spacing: 1.6px;
       text-transform: uppercase;
       color: #757575;
       text-align: center;
    }
    .aboutus .col2{
       width: 50%;
    }
    .aboutus .col3{
       width: 50%;
    }
    .aboutus .col4{
       border-top: 2px solid #e4e4e4;
       width: 100%;
    }
  


    @media only screen and (max-width: 990px){
       .aboutus .col2{
          width: 100%;
       }
       .aboutus .col3{
          width: 100%;
       }
    }
    @media only screen and (max-width: 500px){
          .aboutus .bannerHolder .bannerRibbon div img{
              height: 30px;
              width: 30px;
          }
          .aboutus .bannerHolder .bannerRibbon h3{
              font-size: 15px;
          }
    }

</style>





<div class="aboutus page-width spaced-section layout-col orderC">
    <div class="bannerHolder layout-col">
        <img src="{{ 'md-about.svg' | asset_url }} " alt="about us" >
        <div class="bannerRibbon layout-row orderC">
             <div class="layout-row orderC">
                 <img src="{{ 'CALIDAD-01.svg ' | asset_url }} " alt="calidad" >
                 <h3>Calidad</h3>
             </div>
             <div class="layout-row orderC">
                 <img src="{{ 'SEGURIDAD-01.svg ' | asset_url }} " alt="calidad" >
                 <h3>Seguridad</h3>
             </div>
             <div class="layout-row orderC">
                 <img src="{{ 'SERVICIO-01.svg ' | asset_url }} " alt="calidad" >
                 <h3>Servicio post-venta</h3>
             </div>
        </div>
    </div>
    <div class="textHolder layout-row">
    <div class="col col1">
     
        <h3>"una empresa que entiende los espacios de trabajo como algo más que la disposición de muebles de oficina"</h3>

    </div>
    <div class="col col2">
    <h4>Filosofía</h4>
        <p>Llegamos al inicio del tercer milenio con la creciente globalización y competitividad de los negocios. Por eso nos propusimos establecer la filosofía de nuestra organización y un plan estratégico con el objeto de seguir participando en el mercado regional con un crecimiento continuo y desarrollando juntos la cultura del trabajo.</p>
    
    </div>

      <div class="col col3">
        <h4>Visión</h4>
        <p>Ser empresa líder y solida en constante crecimeinto dentro del mercado Nacional, nuestro sello será el compromiso y el trabajo en equipo de directivos y colaboradores, para lograr la más alta calidad utilizando tecnología de información vanguardista a sus servicio.</p>
        
      </div>

      <div class="col col4">
        <h4>Misión</h4>
        <p>en DELGADO Y COMPAÑIA los directivos y colaboradores somos el capital más valioso de la Empresa, y nos comprometemos a cumplir responsablemente nuestra misión; trabajando en equipo, propiciando un ambiente agradable, con actitud de servicio y trato personalizado, con el propósito dirme de ofrecer a cada persona (cliente) que desempeña sus labores de trabajo en una oficina: Mobiliario con Cualidades y Diseños prácticos para crear entornos productivos, confortables y estéticos, Optimización de espacios e Inversión duradera apoyando con productos de reconocido prestigio y de la más alta calidad, respaldados con nuestros servicios de garantía. Con el objeto de lograr su satisfacción total; Brindándoles ¡El precio más Delgado del Mercado!</p>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "about us",
  "tag": "section",
  "class": "spaced-section",
  "presets": [
    {
      "name": "about us"
    }
  ]
}
{% endschema %}
