

<div class="page-width">
  <h1 class='strike-header'><span>{{- collection.title | escape -}}</span></h1>

</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width"
}
{% endschema %}
